<ul class="list-inline text-center">
  <% ["anne", "romain", "seb"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle avatar-xtra-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
